.wpforms-field-row .wpforms-field {
    margin-bottom: 15px;
  }
  
  .wpforms-container .wpforms-field, .wp-core-ui div.wpforms-container .wpforms-field {
    padding: 0 !important;
  }
  
  .wpforms-field input[type="text"],
  .wpforms-field input[type="email"],
  .wpforms-field textarea {
    display: block;
    width: 100% !important;
    max-width: 100% !important;
    height: 50px;
    line-height: 1.5;
    border: none;
    background: rgba(250, 250, 250, 0.05) !important;
    border: 1px solid rgba(34, 34, 34, 0.5) !important;
    border-radius: 10px !important;
    padding: 4px 22px !important;
    font-size: 14px !important;
    margin-top: 30px !important;
  }
  
  .wpforms-field textarea {
    height: 123px;
    padding-top: 15px;
    overflow: auto;
    resize: vertical;
  }
  
  /* Focus styling */
  .wpforms-field input[type="text"]:focus,
  .wpforms-field input[type="email"]:focus,
  .wpforms-field textarea:focus {
    box-shadow: none;
    outline: none;
    background: rgba(0, 0, 0, 0.05) !important;
    border: 1px solid rgba(250, 250, 250, 1);
    color: #fff;
  }
  
  /* Button styling */
  .wpforms-submit {
    width: 100% !important;
    height: auto !important;
    background: #fff !important;
    color: #222 !important;
    border:2px solid transparent !important;
    border-color: #222 !important;
    text-align:center !important;
    line-height:52px !important;
    padding:0 35px !important;
    border-radius: 0px !important;
    text-transform:uppercase !important;
    font-weight:600 !important;
    border-radius: 10px !important;
  }
  .wpforms-submit:hover, .wpforms-submit:focus {
    background: #222 !important;
    color: #fff !important;
    border-color:#fff !important;
  }
  .wpforms-submit:focus {
    box-shadow:none !important;
    outline:none !important;
  }
  
  div.wpforms-container-full .wpforms-confirmation-container-full {
    background: transparent !important;
    border: 1px solid #e0ffc7 !important;
    border-radius: 20px !important;
  }