.client-row {
  img.rounded-circle {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
  }

  @media only screen and (max-width: 991px) {
    padding: 10px 15px !important;
    font-size: 13px;
    margin-bottom: 15px;
  }

  @media only screen and (max-width: 575px) {
    padding-left: 0;

    .client-img img {
      max-width: 65px;
      margin-right: 10px;
    }
  }
}

.testimonials-block-item {
	position: relative;
	z-index: 1;
	padding: 40px;
	overflow: hidden;
}

.testimonials-scroll-container {
  height: calc(100vh - 35rem) !important;
  max-width: 600px;

  .testimonial-item {
    padding: 20px;

    img {
      width: 140px;
      height: 140px;
      margin: 0 auto;
      border-radius: 50%;
      object-fit: cover;
    }

    h4 {
      margin-top: 40px;
      font-size: 22px;
      text-transform: capitalize;
      font-weight: 700;
    }

    p {
      font-size: 17px;
      font-style: italic;
    }

    @media only screen and (max-width: 575px) {
      padding: 5px 0 0 0;
    }

    @media only screen and (max-width: 460px) {
      padding: 5px 0 0 0;
    }

    @media only screen and (max-width: 320px) {
      padding: 5px 0 0 0;
    }
  }

  @media only screen and (max-width: 1199px) {
    font-size: 16px;
    padding: 20px 25px;
  }

  @media only screen and (max-width: 575px) {
    font-size: 13px;
  }
}